fastapi==0.96.1
uvicorn[standard]==0.22.0
qdrant-client==1.6.2
# pydantic version must be compatible with FastAPI (<2.0)
pydantic<2.0.0,>=1.10
sentence-transformers==2.2.2
onnxruntime==1.15.1
numpy==1.26.4
